# Import Required Libraries
Import the necessary libraries, including os and pandas.

In [ ]:
import os  # Importing the os library to interact with the operating system
import pandas as pd  # Importing pandas for data manipulation and analysis

SyntaxError: invalid syntax (4281441024.py, line 4)

# Set Directory Path
Set the path to the directory containing the files you want to import.

In [9]:
import os
# Set the directory path using a raw string
directory_path = r'C:\Users\CASA\Downloads\arquivos_stream_platforms'

# List files in the directory
files = os.listdir(directory_path)

# Print the list of files
for file in files:
    print(file)

amazon_dataset.csv
appletv_dataset.csv
hbo_datasetr.csv
netflix_dataset.csv

In [ ]:

file_path = os.path.join(directory_path, 'amazon_dataset.csv')
df = pd.read_csv(file_path, sep=',')

In [25]:
df

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Blondie,movie,"Comedy, Family",1938.0,tt0029927,6.9,886.0,"US, ZA"
1,Ariel,movie,"Comedy, Crime, Romance",1988.0,tt0094675,7.4,8752.0,JP
2,Four Rooms,movie,Comedy,1995.0,tt0113101,6.7,112543.0,"AT, DE"
3,Judgment Night,movie,"Action, Crime, Drama",1993.0,tt0107286,6.6,19282.0,US
4,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2315370.0,"AD, AT, CU, DE, IN, JP, SN"
...,...,...,...,...,...,...,...,...
51911,NaN,tv,NaN,NaN,NaN,NaN,NaN,"BM, GB, GG, IE, LC, TC, US"
51912,Shutterbugs,tv,Animation,2015.0,tt3955674,6.8,7.0,"BM, BZ, GH, GI, GY, KE, LC, MW, NG, TC, UG, ZA"
51913,NaN,tv,Mystery,2022.0,NaN,NaN,NaN,"BE, DK, FI, IS, NL, NO, SE, US"
51914,Città misteriose,tv,Documentary,2015.0,tt15035732,6.3,7.0,"SM, VA"
51915,NaN,tv,NaN,2024.0,NaN,NaN,NaN,"GB, GG"

In [26]:
df['streaming_platform'] = 'Amazon'

In [27]:
df

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries,streaming_platform
0,Blondie,movie,"Comedy, Family",1938.0,tt0029927,6.9,886.0,"US, ZA",Amazon
1,Ariel,movie,"Comedy, Crime, Romance",1988.0,tt0094675,7.4,8752.0,JP,Amazon
2,Four Rooms,movie,Comedy,1995.0,tt0113101,6.7,112543.0,"AT, DE",Amazon
3,Judgment Night,movie,"Action, Crime, Drama",1993.0,tt0107286,6.6,19282.0,US,Amazon
4,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2315370.0,"AD, AT, CU, DE, IN, JP, SN",Amazon
...,...,...,...,...,...,...,...,...,...
51911,NaN,tv,NaN,NaN,NaN,NaN,NaN,"BM, GB, GG, IE, LC, TC, US",Amazon
51912,Shutterbugs,tv,Animation,2015.0,tt3955674,6.8,7.0,"BM, BZ, GH, GI, GY, KE, LC, MW, NG, TC, UG, ZA",Amazon
51913,NaN,tv,Mystery,2022.0,NaN,NaN,NaN,"BE, DK, FI, IS, NL, NO, SE, US",Amazon
51914,Città misteriose,tv,Documentary,2015.0,tt15035732,6.3,7.0,"SM, VA",Amazon
51915,NaN,tv,NaN,2024.0,NaN,NaN,NaN,"GB, GG",Amazon

In [35]:

# List all CSV files in the directory
csv_files = [f for f in os.listdir(directory_path) if f.endswith('.csv')]

# Initialize an empty list to store DataFrames
dataframes = []

# Read each CSV file and append to the list
for file in csv_files:
    file_path = os.path.join(csv_files, file)
    df = pd.read_csv(file_path, sep=',')
    dataframes.append(df)

# Concatenate all DataFrames
combined_df = pd.concat(dataframes, ignore_index=True)


# Display the DataFrame
print(combined_df)

FileNotFoundError: [WinError 3] O sistema não pode encontrar o caminho especificado: 'your_directory_path'

In [37]:
import pandas as pd
import os

# List all CSV files in the directory
directory_path = r'C:\Users\CASA\Downloads\arquivos_stream_platforms'
csv_files = [f for f in os.listdir(directory_path) if f.endswith('.csv')]

# Initialize an empty list to store DataFrames
dataframes = []

# Read each CSV file and append to the list
for file in csv_files:
    file_path = os.path.join(directory_path, file)  # Corrected line
    df = pd.read_csv(file_path, sep=',')
    dataframes.append(df)

# Concatenate all DataFrames
combined_df = pd.concat(dataframes, ignore_index=True)

# Display the DataFrame
print(combined_df)

                                      title   type                  genres  \
0                                   Blondie  movie          Comedy, Family
1                                     Ariel  movie  Comedy, Crime, Romance
2                                Four Rooms  movie                  Comedy
3                            Judgment Night  movie    Action, Crime, Drama
4                              Forrest Gump  movie          Drama, Romance
...                                     ...    ...                     ...
88612                                   NaN     tv          Drama, Mystery
88613                                   NaN     tv                     NaN
88614                                   NaN     tv                     NaN
88615                                   NaN     tv                     NaN
88616  The Evolution of Black British Music     tv      Documentary, Music

       releaseYear      imdbId  imdbAverageRating  imdbNumVotes  \
0           1938.0   tt0029927                6.9         886.0
1           1988.0   tt0094675                7.4        8752.0
2           1995.0   tt0113101                6.7      112543.0
3           1993.0   tt0107286                6.6       19282.0
4           1994.0   tt0109830                8.8     2315370.0
...            ...         ...                ...           ...
88612          NaN         NaN                NaN           NaN
88613       2024.0         NaN                NaN           NaN
88614       2024.0         NaN                NaN           NaN
88615          NaN         NaN                NaN           NaN
88616       2022.0  tt27912029                7.2          17.0

                                      availableCountries
0                                                 US, ZA
1                                                     JP
2                                                 AT, DE
3                                                     US
4                             AD, AT, CU, DE, IN, JP, SN
...                                                  ...
88612  AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE...
88613                     HK, ID, IN, KR, MY, PH, SG, TH
88614  AL, AO, AU, AZ, BA, BB, BG, BM, BS, BY, BZ, CA...
88615  AG, AO, AR, AU, BB, BM, BO, BS, BZ, CA, CI, CL...
88616                             BM, GB, GG, GI, IE, TC

[88617 rows x 8 columns]

In [40]:
# Count rows where "title" column is not empty or null
title_count = combined_df['title'].notna().count()

# Display the count
print(f"Number of rows with a non-empty 'title': {title_count}")

Number of rows with a non-empty 'title': 88617

In [ ]:
# Check if the "genres" column exists
if 'genres' in combined_df.columns:
    # Split the "genres" column into multiple columns
    genres_split = combined_df['genres'].str.split(',', expand=True)
    
    # Add the split columns back to the DataFrame
    combined_df = combined_df.join(genres_split)
else:
    print("The 'genres' column does not exist in one or more files.")##